h1 {
	border-radius: 20px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 40px;
	text-align: center;
	font-family: Garamond, serif;
}

div {
    border-radius: 20px;
	border: 2px solid green;
	background-color: ;
	height: 300px;
	width:600;
	text-align: left;
	padding-left: 50px;
	padding-top: 10px;
	margin: auto;
	font-family: Garamond, serif;
}
h5 {
border-radius: 22px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 19px;
	margin: auto;
	width: 500px;
	text-align: center;
	font-family: Garamond, serif;

}
a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}
ul {
	text-decoration: none;
	color: solid green;
	font-family: Verdana, sans-serif;
}
li {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}
